<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0"
  metadata-complete="true">
  
<description>MyServlet and JSP Examples</description>
<display-name>MyFinalProject</display-name>
 
 <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>web.MyServlet</servlet-class>
 </servlet>
 
 <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>servlet.UserInfoServlet</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>SecurityFilter</servlet-name>
        <servlet-class>filter.SecurityFilter</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>AdminTaskServlet</servlet-name>
 	<servlet-class>servlet.AdminTaskServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>EnrolleeTaskServlet</servlet-name>
 	<servlet-class>servlet.EnrolleeTaskServlet</servlet-class>
 </servlet>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/userInfo</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SecurityFilter</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>AdminTaskServlet</servlet-name>
    	<url-pattern>/adminTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EnrolleeTaskServlet</servlet-name>
    	<url-pattern>/enrolleeTask</url-pattern>
    </servlet-mapping> 	
  	
  	<welcome-file-list>
  		<welcome-file>/index</welcome-file>
  		
  	</welcome-file-list>
  	
</web-app>
